body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.liveBg {
  background: rgba(0, 0, 0, 0.7) url('/src/Assets/bg-live.jpg') !important;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

.endedBg {
  background: rgba(0, 0, 0, 0.7) url('/src/Assets/bg-postmatch.jpg') !important;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

.not-startedBg {
  background: rgba(0, 0, 0, 0.7) url('/src/Assets/bg-prematch.jpg');
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

.mstate-sh p {
  background-color: #ff9600 !important;
}

.mstate-end p {
  background-color: #006b00 !important;
}

.mstate-ns p {
  background-color: #4d4d4d !important;
}

.carousel {
  max-width: 320px;
}
.carousel .slide {
  position: relative;
  border-radius: 0.75rem;
  padding: 5px 25px 25px 25px;
}
.carousel .slide .match-info {
  height: 65px;
  text-align: center;
}
.carousel .slide .match-info .tournament-name {
  font-size: 1rem;
}
.carousel .slide .match-info .category-name {
  font-size: 0.75rem;
}
@media (min-width: 450px) {
  .carousel .slide .match-info .category-name {
    font-size: 1rem;
  }
}
.carousel .slide .player-items {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  max-height: 300px;
}
.carousel .slide .player-items .playing-teams {
  text-align: center;
  font-size: 2rem;
  max-width: 160px;
}
.carousel .slide .player-items .playing-teams .team-image {
  height: 50px;
  width: auto;
}
.carousel .slide .player-items .playing-teams .country {
  display: none;
}
.carousel .slide .player-items .playing-teams .abbreviation {
  margin-top: -5px;
  font-size: 1rem;
}
.carousel .slide .player-items .score {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 1rem;
}
.carousel .slide .player-items .score .time {
  font-size: 1.5rem;
}
.carousel .slide .player-items .score .date {
  font-size: 1rem;
  margin-top: -5px;
}
.carousel .slide .match-state {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 10%;
}
.carousel .slide .match-state p {
  background-color: #4d4d4d;
  width: fit-content;
  padding: 0 25px;
  border-radius: 5px;
  margin: auto;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

@media (min-width: 450px) {
  .carousel {
    max-width: 450px;
  }
  .carousel .slide {
    padding: 5px 40px 20px 40px;
    height: 260px;
  }
  .carousel .slide .match-info {
    height: 60px;
  }
  .carousel .slide .match-info .tournament-name {
    font-size: 1rem;
  }
  .carousel .slide .match-info .category-name {
    font-size: 0.8rem;
  }
  .carousel .slide .player-items .playing-teams {
    max-width: 90px;
  }
  .carousel .slide .player-items .playing-teams .team-image {
    min-height: 70px;
  }
  .carousel .slide .player-items .playing-teams .country {
    display: block;
    margin-top: -5px;
    font-size: 1.2rem;
  }
  .carousel .slide .player-items .playing-teams .abbreviation {
    display: none;
  }
  .carousel .slide .player-items .score {
    font-size: 1.2rem;
  }
  .carousel .slide .player-items .score .time {
    font-size: 1.2rem;
  }
  .carousel .slide .player-items .score .date {
    font-size: 1.25rem;
  }
}

@media (min-width: 870px) {
  .carousel {
    max-width: 870px;
  }
  .carousel .slide {
    padding: 5px 60px 50px 60px;
    height: 550px;
  }
  .carousel .slide .match-info {
    height: 100px;
  }
  .carousel .slide .match-info .tournament-name {
    font-size: 2.5rem;
  }
  .carousel .slide .match-info .category-name {
    font-size: 1.5rem;
  }
  .carousel .slide .player-items {
    padding: 5rem 0;
  }
  .carousel .slide .player-items .playing-teams {
    max-width: 200px;
  }
  .carousel .slide .player-items .playing-teams .team-image {
    height: 150px;
  }
  .carousel .slide .player-items .playing-teams .country {
    display: block;
    margin-top: -5px;
    font-size: 2rem;
  }
  .carousel .slide .player-items .playing-teams .abbreviation {
    display: none;
  }
  .carousel .slide .player-items .score {
    margin-top: 20px;
    font-size: 2rem;
  }
  .carousel .slide .player-items .score .time {
    font-size: 2.5rem;
    margin-top: 5px;
  }
  .carousel .slide .player-items .score .date {
    font-size: 2rem;
  }
  .carousel .slide .match-state p {
    padding: 0 25px;
    border-radius: 5px;
    font-size: 1.5rem;
  }
}

.navigation-dots {
  display: flex;
}
.navigation-dots div {
  width: 20px;
  height: 20px;
  background-color: #4d4d4d;
  border-radius: 100%;
}
